* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

.visually-hidden-accessibility {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.skip-link {
  height: 1px;
  position: absolute;
  width: auto;
  overflow: hidden;
  background-color: transparent;
}
.skip-link:focus {
  height: auto;
  z-index: 100;
  background-color: white;
}

h1 {
  font-weight: 100;
}
@media screen and (min-width: 450px) {
  h1 {
    font-size: 3rem;
    letter-spacing: 1px;
  }
}
a {
  color: #0e31c0;
  text-decoration-color: transparent;
  transition: text-decoration-color 0.3s, color 0.3s;
}
a:hover,
a:focus {
  text-decoration-color: #0e31c0;
}

.inner-content {
  max-width: 1000px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.body {
  padding-top: 40px;
  padding-bottom: 40px;
}

header {
  border-top: 5px solid #051453;
}
header .inner-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}
@media screen and (min-width: 600px) {
  header .inner-content {
    flex-direction: row;
    justify-content: flex-end;
  }
  header .logo {
    position: absolute;
    left: 20px;
    top: 0;
    background-color: #dddddd;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-right: 15px;
  }
}
header .logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}
header .logo img {
  width: 100px;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}
header nav a {
  padding: 0.5rem;
  color: black;
  transition: text-decoration-color 0.3s;
  text-decoration-color: transparent;
}
header nav a:hover,
header nav a:focus {
  text-decoration-color: black;
}

.banner {
  background-image: url(./assets/banner.jpg);
  background-size: cover;
}
.banner h1 {
  text-align: center;
  color: white;
  padding: 8rem 2rem;
  margin: 0;
  font-weight: 500;
  letter-spacing: 0.2rem;
}

footer {
  background-color: #051453;
  border-top: white 10px double;
  color: white;
  padding: 20px 0;
  position: relative;
  margin-top: 50px;
}
footer .inner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 400px) {
  footer .inner-content {
    flex-direction: row;
  }
}
footer .inner-content > a {
  font-size: 0.9rem;
}
footer a {
  color: white;
  transition: text-decoration-color 0.3s;
  text-decoration-color: transparent;
}
footer a:hover,
footer a:focus {
  text-decoration-color: white;
}
footer .footer-text {
  font-size: 0.8rem;
  line-height: 1.2;
  margin-bottom: 10px;
}
@media screen and (min-width: 400px) {
  footer .footer-text {
    margin-bottom: 0;
  }
}
footer address {
  font-style: normal;
}
footer .icon-links {
  position: absolute;
  right: max(20px, calc(((100vw - 1000px) / 2) + 20px));
  top: -50px;
}
footer .icon-links img {
  height: 40px;
  transition: filter 0.2s;
}
footer .icon-links a:hover img,
footer .icon-links a:focus img {
  filter: brightness(0.95) hue-rotate(-252deg) saturate(1.98);
}

/* Fancy <hr> elements */
hr {
  overflow: visible;
  padding: 0;
  border: none;
  border-top: 3px double #051453;
  border-bottom: 3px double #051453;
  color: #051453;
  text-align: center;
}
hr:after {
  content: "ยง";
  font-family: serif;
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}

/* Dropcaps, with the .dropcap class */
.dropcap:first-of-type:first-letter {
  font-family: serif;
  color: #051453;
  font-size: 5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  display: block;
  float: left;
  margin: 0 10px 0 0;
  padding: 5px;
  border: 2px solid black;
}
