.button-container {
  padding-top: 2rem;
}

.project {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}
@media screen and (min-width: 800px) {
  .project {
    flex-direction: row;
    align-items: center;
  }
}
.apps .project > img {
  max-width: 200px;
  object-fit: contain;
  margin: auto;
}
.project .project-content {
  padding: 20px 40px;
}
.project .purchase-links {
  width: 200px;
  flex-shrink: 0;
  margin: auto;
}
.project .purchase-links a {
  display: inline-block;
  margin: 10px 0;
}
.project .purchase-links a img {
  max-width: 100%;
}

.websites .project > img {
  width: 300px;
  height: 175px;
  object-fit: contain;
  flex-shrink: 0;
}
