.videos div {
  padding: 10px;
}
.videos div iframe {
  max-width: 100%;
  display: block;
  margin: auto;
}
@media screen and (min-width: 800px) {
  .videos {
    display: flex;
    flex-wrap: wrap;
  }
  .videos div {
    width: 50%;
  }
}
