* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.visually-hidden-accessibility {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.inner-content {
  max-width: 1000px;
  margin: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.skip-link {
  height: 1px;
  position: absolute;
  width: auto;
  overflow: hidden;
  background-color: transparent;
}
.skip-link:focus {
  height: auto;
  z-index: 100;
  background-color: white;
}

.button {
  display: block;
  text-align: center;
  border: 1.5px solid #36046d;
  color: #36046d;
  padding: 10px;
  transition: all 0.2s;
  text-decoration: none;
  width: 200px;
  margin: auto;
  font-weight: bold;
  font-size: 1.2rem;
}
.button:hover,
.button:focus {
  background-color: #36046d;
  text-decoration: none;
  color: white;
}

main {
  padding-top: 40px;
}

.logo {
  display: block;
  width: 300px;
  max-width: 100%;
  margin: auto;
}

h1 {
  text-align: center;
  font-weight: bold;
}

.details {
  font-size: 1.5rem;
  text-align: center;
}

h2 {
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  line-height: 2rem;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

h2:has(span)::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  margin-top: -1rem;
  width: 40px;
  height: calc(4rem - 1px);
  background-color: white;
  border-bottom-right-radius: 30px;
  border-bottom: 1px solid black;
}

h2:has(span)::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  margin-top: -3rem;
  width: 40px;
  height: 4rem;
  background-color: white;
  border-top-left-radius: 30px;
  border-top: 1px solid black;
}

h2 span::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  margin-top: 1rem;
  width: 40px;
  height: 2rem;
  background-color: black;
  z-index: -1;
}

h2 span::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  margin-top: -3rem;
  width: 40px;
  height: 2rem;
  background-color: black;
  z-index: -1;
}

@media (min-width: 1000px) {
  h2:has(span)::before {
    width: calc((100% - 920px) * 0.5);
  }

  h2:has(span)::after {
    width: calc((100% - 920px) * 0.5);
  }

  h2 span::before {
    width: calc((100% - 920px) * 0.5);
  }

  h2 span::after {
    width: calc((100% - 920px) * 0.5);
  }
}

h4 {
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-top-left-radius: 10px;
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
  padding-bottom: 0;
}

h4::before {
  content: '*';
  color: red;
  position: absolute;
  top: 0;
  top: -25px;
  left: -10px;
  font-size: 6rem;
  z-index: -1;
}

hr {
  border: none;
  border-bottom: 6px double black;
  position: relative;
}
hr:after {
  content: '';
  background-image: url(./hex.png);
  width: 30px;
  height: 30px;
  background-size: contain;
  display: block;
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
}

ul {
  padding-left: 1rem;
}

.table {
  th {
    font-weight: bold;
    padding-right: 1.5rem;
  }
}

.game {
  display: flex;
  column-gap: 1rem;
  align-items: center;
  flex-direction: column;
}
.expansion {
  border-left: 1px solid black;
  padding-left: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-top: 1px dashed black;
}
h4 + .expansion {
  border-top: none;
}
.expansion ul {
  margin-bottom: 0;
}
.game:first-of-type {
  margin-top: 2rem;
}
.game .the-game {
  flex: 1;
  display: flex;
  column-gap: 1rem;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}

.game .the-game > div {
  text-align: center;
}
@media (min-width: 500px) {
  .game .the-game {
    margin-bottom: 1rem;
    flex-direction: row;
  }
  .game .the-game > div {
    text-align: left;
  }
}
@media (min-width: 800px) {
  .game {
    flex-direction: row;
  }
  .expansion {
    flex-direction: column;
    align-items: flex-start;
  }
  .game .the-game {
    margin-bottom: 0;
  }
}
.game img {
  height: 150px;
  max-width: 150px;
  object-fit: contain;
  transition: transform 0.3s;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.expansion img {
  height: unset;
  max-height: 150px;
  width: 150px;
}
.the-game h3 {
  font-weight: bold;
  color: black;
  transition: color 0.3s;
  margin-bottom: 0.5rem;
}
.the-game strong {
  font-weight: bold;
  color: black;
  margin-bottom: 1rem;
  display: block;
}
.the-game .green {
  color: green;
  font-weight: bold;
}
.the-game .orange {
  color: orange;
  font-weight: bold;
}
.the-game:hover h3,
.the-game:focus h3 {
  color: #333;
}
.the-game:hover img,
.the-game:focus img {
  transform: scale(1.05);
}
.game .links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 800px) {
  .game .links {
    align-items: flex-end;
  }
}
.game .learn {
  text-decoration: none;
  background: black;
  color: white;
  padding: 1rem 2rem;
  border-radius: 8px;
  transition: background-color 0.3s;
  text-align: center;
  width: fit-content;
}
.game .learn:hover,
.game .learn:focus {
  background: #333;
}
.game .learn:not(:first-of-type) {
  margin-top: 1rem;
}

hr {
  margin: 2rem 0;
}

footer {
  background-color: #000;
  border-top: #fff 10px double;
  color: #fff;
  padding: 20px 0;
  position: relative;
  margin-top: 50px;
}
footer a {
  color: #fff;
}
footer a:hover,
footer a:focus {
  color: #ddd;
}
footer .inner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 400px) {
  footer .inner-content {
    flex-direction: row;
    align-items: flex-end;
  }
}
footer .inner-content > a {
  font-size: 0.9rem;
}
footer .footer-text {
  font-size: 0.8rem;
  line-height: 1.2;
  margin-bottom: 10px;
}

@media screen and (min-width: 400px) {
  footer .footer-text {
    margin-bottom: 0;
  }
}
footer address {
  font-style: normal;
}
