.composition {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
}
@media screen and (min-width: 800px) {
  .composition {
    flex-direction: row;
  }
}
.composition img {
  max-width: min(300px, 100%);
  margin: auto;
}
@media screen and (min-width: 800px) {
  .composition .composition-content {
    margin-left: 40px;
  }
}
.composition .composition-meta {
  font-size: 0.9rem;
}

.view-all-compositions {
  font-size: 1.1rem;
  margin: 30px 0;
}
.performance {
  padding: 40px 0;
}
iframe {
  max-width: 100%;
}
